.keyboard__key {
  color: $color-text;
  background: black;
  display: flex;
  cursor: pointer;
  border-radius: 3px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  @extend %transition;
  user-select: none;
  padding: 0.2rem;
}

[data-code='Space'] {
  grid-column-end: span 6;
}
